body {
    margin: 0;
    padding: 0;
    line-height: 1.412;
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-div {
    margin: 75px 0;
    padding: 30px 25px;
    height:575px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ref {
    font-size: 12pt;
    font-family: sans-serif, "Arial Black";
    font-weight: 400;
    color: #444;
    text-decoration: none;
}

.ref a:hover {
    color: #666;
}

.ref a:active {
    color: #222;
}
